<div class="section-header">
  <div class="section-header__title-wrap">
    @if (iconName) {
      <div class="section-header__icon">
        <ui-icon [name]="iconName" size="md"></ui-icon>
      </div>
    }
    <h2 class="section-header__title">{{ title }}</h2>
  </div>
  @if (viewAllLink) {
    <a [routerLink]="viewAllLink" class="section-header__view-all">
      <span class="section-header__view-all-desktop">{{ viewAllLabel }}</span>
      <span class="section-header__view-all-mobile">{{ mobileViewAllLabel }}</span>
      <ui-icon name="chevron-right" size="sm"></ui-icon>
    </a>
  }
</div>
